psycopg2-binary
coreapi
Django
django-filter
django-markup
django-heroku
django-markdownify
djangorestframework
djangorestframework-simplejwt
drf-yasg
django-cors-headers
gunicorn
django-bootstrap4
pytest
pytest-django
whitenoise
